<button (click)="back()" class="btn btn-info">Go Back</button> 
<div class="container">
  
      
      
 <form #myForm="ngForm"  class="form">
        <p *ngIf="isAdd">New User</p>
        <p *ngIf="!isAdd">Edit Details</p>
        <div class="mb-3">
            <label for="firstname" class="form-label">FirstName</label>
            <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]= "userObj.firstname">
        </div>

        <div class="mb-3">
            <label for="middlename" class="form-label">MiddleName</label>
            <input type="text" class="form-control" id="middlename" name="middlename"[(ngModel)]= "userObj.middlename">
        </div>

        <div class="mb-3">
            <label for="Lastname" class="form-label">LastName</label>
            <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]= "userObj.lastname">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]= "userObj.email">
        </div>

        <div class="mb-3">
            <label for="phonenumber" class="form-label">PhoneNumber</label>
            <input type="text" class="form-control" id="phonenumber" name="phonenumber" [(ngModel)]= "userObj.phonenumber">
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <input type="text" class="form-control" id="role" name="role" [(ngModel)]= "userObj.role">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" name="address" [(ngModel)]= "userObj.address">
        </div>

        <button type="submit" class="add btn btn-primary" (click)="addUser(myForm.value,myForm)" *ngIf="!isEdit">Add New User</button>

        <button type="submit" class="btn save btn-warning" (click)="updateUser(myForm)" *ngIf="isEdit">Save</button>
        <button type="button" class="btn btn-danger" (click)="cancelUser(myForm)">Cancel</button>
    </form>

    <br>
   
    <table class=" tablel table table-hover table-striped table-dark">
        
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">MiddleName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">Role</th>
            <th scope="col">Address</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

          </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let user of allUser">
                <td>{{user.id}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.middlename}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phonenumber}}</td>
                <td>{{user.role}}</td>
                <td>{{user.address}}</td>
                <td><button (click)="editUser(user)" class="btn btn-success">Edit</button></td>
                <td><button (click)="deleteUser(user)" class="btn btn-danger">Delete</button></td>
            </tr>
          
        </tbody>
      </table>

</div>